div{
    height:100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .caroline{
    background-image: url("assets/caroline.svg");
  }
  .draws{
    background-image: url("assets/draws.svg");
  }
  .sometimes{
    background-image: url("assets/sometimes.svg");
  }
  .face{
    background-image: url("assets/face.svg");
  }
  /*.grid{
    background-image: url("assets/instagram.svg");
    background-color: #00f01a;
  }*/
  footer{
    position:  fixed;
    width: 40px;
    bottom: 30px;
    left: 50%;
    margin-left: -20px;
  }
  a{
      cursor: pointer;
  }