div{
    height:100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.caroline{
    background-image: url("assets/caroline.svg");
    background-color: #CC1D02;
}
.draws{
    background-image: url("assets/draws.svg");
    background-color: #024ECC;
}
.sometimes{
    background-image: url("assets/sometimes.svg");
    background-color: #FF895C;
}
.face{
    background-image: url("assets/face.svg");
    background-color: #1CE8FF;
}
footer{
    position: fixed;
    width: 40px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
a{
    cursor: pointer;
}
@media(max-width: 800px){
  div {
    height: 75vw;
    background-attachment: scroll;
  } 
}
